/.idea
**/__pycache__
__pycache__
**/*.exe
/loras_userdatas/info
init.json
/panel
user_cloud_package.json
AGENTS.md

# Frontend (src/)
src/logs
src/*.log
src/npm-debug.log*
src/yarn-debug.log*
src/yarn-error.log*
src/pnpm-debug.log*
src/lerna-debug.log*
src/node_modules
src/dist
src/dist-ssr
src/*.local
src/.vscode
!src/.vscode/extensions.json
src/.idea
src/.DS_Store
src/*.suo
src/*.ntvs*
src/*.njsproj
src/*.sln
src/*.sw?
